.faq-header {
    text-align: center;
    padding: 2em 0;
    max-width: 1200px;
    margin: auto;
    color: var(--text-color);
}

.faq-header-title {
    font-size: 1.5em;
    margin: 0.5em 0;
}

.faq-header-subtitle {
    color: var(--subtle-text-color);
    font-size: 0.9em;
}

.faq {
    padding: 1em;
    max-width: 1200px;
    margin: auto;
    color: var(--text-color);
}

.faq-column {
    width: 100%;
}

.faq-item {
    border-bottom: 1px solid var(--box-shadow-color);
    padding: 1em 0;
}

.faq-question {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color 0.3s;
    color: var(--text-color);
}

.faq-question::after {
    content: '+';
    font-size: 1.5em;
    color: var(--highlight-color);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    color: var(--subtle-text-color);
    padding: 0;
}

.faq-item-open .faq-answer {
    max-height: 2000px;
    padding-top: 1em;
}

.faq-item-open .faq-question::after {
    content: '-';
}

@media (min-width: 600px) {
    .faq-header-title {
        font-size: 2em;
    }

    .faq-header-subtitle {
        font-size: 1em;
    }
}

@media (min-width: 1024px) {
    .faq {
        display: flex;
        justify-content: space-around;
    }

    .faq-column {
        width: 45%;
    }
}
