.mission-vision {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    text-align: left;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.mission-vision-image {
    width: 50%;
    min-width: 320px;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
}

.mission-vision-content {
    max-width: 600px;
    padding: 20px;
}

.mission-vision-headline {
    font-size: 2.3em;
    color: var(--text-color);
}

.mission-vision-subheadline {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 50px;
    color: var(--subtle-text-color);
}

.mission-vision-description {
    font-size: 1.2em;
    margin-bottom: 50px;
    color: var(--text-color);
}

.mission-vision-button {
    display: inline-block;
    padding: 10px 20px;
    color: var(--text-white-color);
    background-color: var(--highlight-color);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.mission-vision-button:hover {
    background-color: var(--button-hover-color);
}

@media (max-width: 768px) {
    .mission-vision {
        flex-direction: column;
        align-items: center;
    }

    .mission-vision-image {
        width: 100%;
        max-width: 100%;
    }
}
