.process-content {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.process {
    text-align: center;
    padding: 40px 20px;
}

.process-heading {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: var(--text-color);
}

.process-tagline {
    font-size: 1.25em;
    margin-bottom: 40px;
    color: var(--subtle-text-color);
}

.process-steps {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.process-step {
    text-align: left;
    background-color: var(--item-background-color);
    padding: 20px;
    border: 1px solid var(--box-shadow-color);
    border-radius: 10px;
    height: 220px;
}

.process-step-number {
    color: var(--highlight-color);
    font-size: 2em;
    margin-bottom: 10px;
}

.process-step-title {
    font-size: 1.25em;
    margin-bottom: 10px;
    color: var(--text-color);
}

.process-step-description {
    font-size: 1.2em;
    color: var(--subtle-text-color);
}

@media (min-width: 768px) {
    .process-steps {
        flex-direction: row;
        justify-content: space-between;
    }

    .process-step {
        flex: 1;
        margin: 0 10px;
    }
}
