.team-section {
    text-align: center;
    padding: 20px;
    background-color: var(--dark-background-and-titles);
    width: 100%;
}

.team-container {
    max-width: 1200px;
    margin: 0 auto;
}

.team-title {
    color: var(--background-light-grey-color);
    font-size: 2em;
    margin-bottom: 10px;
}

.team-subtitle {
    color: var(--background-light-grey-color);
    font-weight: bold;
    margin-bottom: 20px;
}

.team-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.team-carousel-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 1000;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.team-carousel-button img {
    width: 40px;
    height: auto;
}

.team-carousel-button:hover {
    opacity: 1;
}

.team-carousel-button--left {
    left: 10px;
}

.team-carousel-button--right {
    right: 10px;
}

.team-carousel-container {
    overflow: hidden;
    width: 100%;
}

.team-carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.team-carousel-item {
    color: var(--background-light-grey-color);
    background-color: var(--background-light-color);
    min-width: 100%;
    text-align: center;
    padding: 0;
}

.team-carousel-image {
    border-radius: 50%;
    margin-bottom: 20px;
    max-width: 160px;
}

.team-carousel-name {
    color: var(--primary-color);
    margin-bottom: 10px;
}

.team-carousel-text {
    margin-bottom: 20px;
}

.team-carousel-socials a {
    margin: 0 10px;
}

.team-carousel-socials img {
    width: 24px;
    height: 24px;
}

@media (min-width: 768px) {
    .team-title {
        font-size: 2.5em;
    }

    .team-carousel-container {
        width: 80%;
    }

    .team-carousel-image {
        max-width: 200px;
    }
}

.dark-theme #team-carousel-button-right,
.dark-theme #team-carousel-button-left {
    filter: invert(100%);
}
