{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/login-reg.css') }}">
    <script async defer src="https://www.google.com/recaptcha/api.js"></script>
    <script defer type="module" src="{{ url_for('static', filename='js/user-registration.js') }}"></script>
{% endblock %}

{% block content %}
    <header class="custom-header">
        <div class="custom-header-content">
            <h3 class="custom-header-title">Registration.</h3>
            <nav class="breadcrumb">
                <a href="{{ url_for('main.index') }}" class="breadcrumb-link">Home</a>
                <span class="breadcrumb-separator">→</span>
                <span class="breadcrumb-current">Registration</span>
            </nav>
        </div>
    </header>

    <div class="auth-container">
        <h3 class="auth-title">Registration</h3>
        <form id="captcha-form" class="auth-form">
            <div class="auth-msg">{{ msg }}</div>
            <input id="username" name="username" type="text" placeholder="Enter Your Username" class="auth-textbox"/>
            <div class="alert-container" id="alert-username"></div>
            <input id="password" name="password" type="password" placeholder="Enter Your Password" class="auth-textbox"/>
            <div class="alert-container" id="alert-password"></div>
            <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
            <div class="alert-container" id="alert-captcha"></div>
            <input type="submit" class="auth-btn" value="Sign Up">
        </form>
        <p class="auth-bottom">Already have an account? <a class="auth-link" href="{{ url_for('user.login') }}"> Sign In here</a></p>
    </div>
{% endblock %}
