<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block links %} {% endblock %}

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='img/favicon/site.webmanifest') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon//safari-pinned-tab.svg') }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>ConnectX</title>
</head>
<body>

<header class="header">
    <div class="container">
        <div class="header-top">
            <div class="header-contacts">
                <a class="phone" href="tel:+12345678900">+1 (234) 567 89 00</a>
                <a class="email" href="mailto:techpro@email.com">connectX@email.com</a>
            </div>
            <div class="header-socials">
                <a href="#"><img src="{{ url_for('static', filename='img/social-icons/youtube-icon.svg') }}" alt="YouTube"></a>
                <a href="#"><img src="{{ url_for('static', filename='img/social-icons/twitter-icon.svg') }}" alt="Twitter"></a>
                <a href="#"><img src="{{ url_for('static', filename='img/social-icons/facebook-icon.svg') }}" alt="Facebook"></a>
                <a href="#"><img src="{{ url_for('static', filename='img/social-icons/instagram-icon.svg') }}" alt="Instagram"></a>
                <a href="#"><img src="{{ url_for('static', filename='img/social-icons/telegram-icon.svg') }}" alt="Telegram"></a>
            </div>
            <div class="day-night-toggle">
                <input type="checkbox" id="toggle" />
                <label for="toggle" class="toggle-label">
                    <span class="toggle-on">DAYMODE</span>
                    <span class="toggle-off">NIGHTMODE</span>
                </label>
            </div>
        </div>
        <nav>
            <div class="header-logo">
                <a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='img/connectx-logo.png') }}" alt="ConnectX"></a>
                <a class="logo-text" href="{{ url_for('main.index') }}">ConnectX</a>
            </div>
            <div class="burger-menu" id="burger-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="header-links" id="header-links">
                <li><a href="{{ url_for('about.index') }}">About us</a></li>
                <li><a href="{{ url_for('rate.show_rates') }}">Rate</a></li>
                <li><a href="{{ url_for('main.index', filename='main-page/cta-and-testimonials.html', _anchor='testimonial-block') }}">Testimonials</a></li>
                <li><a href="{{ url_for('main.index', filename='main-page/news.html', _anchor='news-block') }}">News</a></li>
                <li><a href="{{ url_for('main.index', filename='main-page/services.html', _anchor='service-block') }}">Service</a></li>
                <li><a href="{{ url_for('contact.index') }}">Contact us</a></li>

                {% if session.loggedin %}
                    <li><a href="{{ url_for('user.logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('user.login') }}">Login</a></li>
                {% endif %}
            </ul>
            <a class="quote-button" href="#quote-form">Get a Quote</a>
        </nav>
    </div>
</header>


{% block content %} {% endblock %}


<section id="pre-footer" class="pre-footer">
    <div class="container pre-footer-container">
        <div class="pre-footer-content">
            <h2>Contact Us Now for Fast and Reliable Internet Services.</h2>
            <p>Ready to experience the ConnectX difference?</p>
            <p>Don't let connectivity issues slow you down – reach out to us today
               and let our expert team ensure your network runs at its best. Schedule an appointment with our experts!</p>
            <div class="pre-footer-details">
                <div class="link-title">
                    <h3>Support Team</h3>
                    <p>+1 (234) 567 89 00</p>
                    <p>connectx@email.com</p>
                </div>
                <div class="link-title">
                    <h3>Visit Us</h3>
                    <p>194 MacDonough St, Brooklyn, NY 11216</p>
                    <p>Mon - Fri: 8AM - 6PM</p>
                </div>
            </div>
            <div class="pre-footer-icon">
                <img src="{{ url_for('static', filename='img/global-network.png') }}" alt="Revive Icon">
                <p>Want to Optimize Your Internet Connection?<br> Fill out the form on the right.</p>
            </div>
        </div>
        <div id="quote-form" class="quote-form">
            <form action="#" method="POST">
                <input type="text" name="name" placeholder="Your Name*" required>
                <input type="tel" name="phone" placeholder="Phone Number*" required>
                <input type="email" name="email" placeholder="Email*" required>
                <textarea name="message" placeholder="Your Message" required></textarea>
                <button type="submit" class="request-quote-button">Request a Quote</button>
            </form>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="footer-container">
            <div class="footer-section">
                <div class="footer-logo">
                    <a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='img/connectx-logo.png') }}" alt="ConnectX"></a>
                    <a class="footer-logo-text" href="{{ url_for('main.index') }}">ConnectX</a>
                </div>
                <p>At ConnectX, we're here to enhance your internet experience, swiftly and seamlessly.</p>
                <div class="footer-socials">
                    <a href="#"><img src="{{ url_for('static', filename='img/social-icons/twitter-icon.svg') }}" alt="Twitter"></a>
                    <a href="#"><img src="{{ url_for('static', filename='img/social-icons/facebook-icon.svg') }}" alt="Facebook"></a>
                    <a href="#"><img src="{{ url_for('static', filename='img/social-icons/instagram-icon.svg') }}" alt="Instagram"></a>
                    <a href="#"><img src="{{ url_for('static', filename='img/social-icons/youtube-icon.svg') }}" alt="YouTube"></a>
                    <a href="#"><img src="{{ url_for('static', filename='img/social-icons/telegram-icon.svg') }}" alt="Telegram"></a>
                </div>
            </div>
            <div class="footer-section">
                <h3 class="link-title">Useful Links</h3>
                <ul class="footer-links">
                    <li><a href="{{ url_for('about.index') }}">About us</a></li>
                    <li><a href="{{ url_for('rate.show_rates') }}">Rate</a></li>
                    <li>
                        <a href="{{ url_for('main.index', filename='main-page/cta-and-testimonials.html', _anchor='testimonial-block') }}">Testimonials</a>
                    </li>
                    <li>
                        <a href="{{ url_for('main.index', filename='main-page/news.html', _anchor='news-block') }}">News</a>
                    </li>
                    <li>
                        <a href="{{ url_for('main.index', filename='main-page/services.html', _anchor='service-block') }}">Service</a>
                    </li>
                </ul>
            </div>
            <div class="footer-section">
                <h3 class="link-title">Services</h3>
                <ul class="footer-links">
                    <li><a href="{{ url_for('main.index', filename='main-page/services.html', _anchor='service-block') }}">Calling the master</a></li>
                    <li><a href="{{ url_for('main.index', filename='main-page/services.html', _anchor='service-block') }}">Setting up the router</a></li>
                    <li><a href="{{ url_for('main.index', filename='main-page/services.html', _anchor='service-block') }}">Laying an UTP cable</a></li>
                    <li><a href="{{ url_for('main.index', filename='main-page/services.html', _anchor='service-block') }}">Network diagnostics</a></li>
                    <li><a href="{{ url_for('main.index', filename='main-page/services.html', _anchor='service-block') }}">Changing the static IP addresses</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3 class="link-title">Support</h3>
                <ul class="footer-links">
                    <li><a href="{{ url_for('main.index', filename='main-page/cta-and-testimonials.html', _anchor='cta-block') }}">Warranty</a></li>
                    <li><a href="{{ url_for('main.index', filename='main-page/cta-and-testimonials.html', _anchor='cta-block') }}">Service Terms</a></li>
                    <li><a href="{{ url_for('main.index', filename='main-page/cta-and-testimonials.html', _anchor='cta-block') }}">Help</a></li>
                    <li><a href="{{ url_for('contact.index') }}">Contact us</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="copyright">© Created by Team 04</p>
            <p class="rights">All rights Reserved</p>
        </div>
    </div>
</footer>

<script>
    document.getElementById('burger-menu').addEventListener('click', function () {
        this.classList.toggle('open');
        document.getElementById('header-links').classList.toggle('active');
    });
</script>

</body>
</html>
