{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index/index-page.css') }}">
{% endblock %}

{% block content %}

    {% include 'main-page/welcome-to-connectx.html' %}
    {% include 'main-page/we-connect-you.html' %}
    {% include 'main-page/about-us.html' %}
    {% include 'main-page/router-installation.html' %}
    {% include 'main-page/how-we-work.html' %}
    {% include 'main-page/services.html' %}
    {% include 'main-page/cta-and-testimonials.html' %}
    {% include 'main-page/faq.html' %}
    {% include 'main-page/news.html' %}

{% endblock %}