{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index/index-page.css') }}">
    <script src="{{ url_for('static', filename='js/scroll-animation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/how-we-work.js') }}"></script>
    <script src="{{ url_for('static', filename='js/how-we-work-progress.js') }}"></script>
    <script src="{{ url_for('static', filename='js/service-carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/faq-index-accordion.js') }}"></script>
    <script src="{{ url_for('static', filename='js/news-carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/testimonial-carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cta-countdown.js') }}"></script>
{% endblock %}

{% block content %}

    {% include 'main-page/welcome-to-connectx.html' %}
    {% include 'main-page/we-connect-you.html' %}
    {% include 'main-page/about-us.html' %}
    {% include 'main-page/hardware.html' %}
    {% include 'main-page/how-we-work.html' %}
    {% include 'main-page/services.html' %}
    {% include 'main-page/cta-and-testimonials.html' %}
    {% include 'main-page/faq.html' %}
    {% include 'main-page/news.html' %}

{% endblock %}