{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index/index-page.css') }}">
{% endblock %}

{% block content %}
    <h3>Main page</h3>

    {% include 'main-page/welcome-to-techpro.html' %}
    {% include 'main-page/we-repair-your-gadgets.html' %}
    {% include 'main-page/about-us.html' %}
    {% include 'main-page/hardware-repair-screen-replacement.html' %}
    {% include 'main-page/how-we-work.html' %}
    {% include 'main-page/services.html' %}
    {% include 'main-page/under-services.html' %}
    {% include 'main-page/cta-&-call-us.html' %}
    {% include 'main-page/faq.html' %}
    {% include 'main-page/news.html' %}
{% endblock %}