{% extends 'base.html' %}

{% block content %}
    {% if session.is_admin %}
        <button><a href="{{ url_for('rate.add_page') }}">Add</a></button>
    {% endif %}

    <style></style>

    <div class="rates-container">
        {% for rate in rates %}
            <div class="tariff-container">
                <div class="tariff-card">
                    <h2>{{ rate.name }}</h2>
                    <p><strong>Домашній інтернет</strong><br>до 100 Мбіт/с, безлім трафік</p>
                    <p><strong>1 Суперсила на вибір</strong></p>
                    <div class="icons">
                        <span>🔍</span>
                        <span>🎵</span>
                        <span>🌐</span>
                    </div>
                    <p class="price">{{ rate.price }} грн/міс</p>
                    <p class="condition">Якщо маєте на рахунку 900 грн кожні 6 місяців</p>
                    <p class="description">{{ rate.description }}</p>
                    <button><a href="{{ url_for('rate.show_rate_by_id', rate_id=rate.id) }}">Обрати тариф</a></button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
