{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rates/info-page.css') }}">
{% endblock %}

{% block content %}

    <header class="custom-header">
        <div class="custom-header-content">
            <h3 class="custom-header-title">Rates</h3>
            <nav class="breadcrumb">
                <a href="{{ url_for('rate.show_rates') }}" class="breadcrumb-link">Rates</a>
                <span class="breadcrumb-separator">→</span>
                <span class="breadcrumb-current">Rates</span>
            </nav>
        </div>
    </header>


    <div class="about-us">
        <img src="{{ url_for('static', filename='img/additional-inform-rates/basic.png') }}"
             alt="Phone on an orange background" class="about-us-image"/>

        <div class="about-us-content">
            <h1 class="main-title">Features</h1>
            <h2 class="features-title">Корисні функції</h2>
            <div class="feature-item">
                <div class="feature-item-icon">
                    <img src="{{ url_for('static', filename='icons/trust-week.png') }}" alt="Trust Week Icon">
                </div>
                <div class="feature-item-content">
                    <h3>Trust Week</h3>
                    <p>If you accidentally missed a payment day, activate Trust Week and keep access to the internet and
                        TV for another 7 days.</p>
                </div>
            </div>
            <div class="feature-item">
                <div class="feature-item-icon">
                    <img src="{{ url_for('static', filename='icons/home-day.png') }}" alt="Home Day Icon">
                </div>
                <div class="feature-item-content">
                    <h3>Home Day</h3>
                    <p>Need home internet for a day or don't have enough funds to pay for a plan? Order the Home Day
                        service for 25 UAH and use the internet until the end of the next day.</p>
                </div>
            </div>
            <div class="feature-item">
                <div class="feature-item-icon">
                    <img src="{{ url_for('static', filename='icons/address-change.png') }}" alt="Address Change Icon">
                </div>
                <div class="feature-item-content">
                    <h3>Address Change</h3>
                    <p>Are you moving? Home Internet and Kyivstar TV will change the address with you — your plan,
                        account balance, and connected services will remain unchanged.</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


