<div class="about-us">

    <img src="{{ url_for('static', filename='img/main-page/about-us.png') }}" alt="Phone on an orange background" class="about-us-image"/>

    <div class="about-us-content">
        <h3 class="block-title">ABOUT US</h3>
        <h3 class="about-us-headline">Bringing Life Back to Your Gadgets.</h3>
        <p class="about-us-subheadline">
            Schedule your repair with TechPro today and experience the ultimate
            in convenience and expertise.
        </p>
        <p class="about-us-description">
            At TechPro, we are dedicated to being your go-to destination for all
            things mobile repair in New York. With years of expertise under our
            belt, our team of skilled technicians excels in diagnosing and
            resolving a wide array of issues plaguing your devices.
        </p>
        <p class="about-us-description">
            We understand the frustration that comes with a malfunctioning device,
            which is why we strive to provide swift and reliable solutions that
            get you back to enjoying your gadgets in no time.
        </p>
        <a href="{{ url_for('about.index') }}" class="about-us-button">Learn More</a>
    </div>
</div>