<div class="about-us">

    <img src="{{ url_for('static', filename='img/main-page/about-us.png') }}" alt="Phone on an orange background" class="about-us-image"/>

    <div class="about-us-content">
        <h3 class="block-title">ABOUT US</h3>
        <h3 class="about-us-headline">Bringing Life Back to Your Network.</h3>
        <p class="about-us-subheadline">
            Schedule your installation with ConnectX today and experience ultimate convenience and expertise.
        </p>
        <p class="about-us-description">
            At ConnectX, we are dedicated to being your go-to destination for all your internet service needs.
            With years of expertise under our belt, our team of skilled technicians excels in diagnosing and resolving
            a wide array of network issues, ensuring a seamless online experience for you.
        </p>
        <p class="about-us-description">
            We understand the frustration that comes with a malfunctioning internet connection,
            which is why we strive to provide swift and reliable solutions that get you back online in no time.
        </p>
        <a href="{{ url_for('about.index') }}" class="about-us-button">Learn More</a>
    </div>
</div>