<section class="faq">
    <div class="faq-container">
        <div class="faq-image-container">
            <img src="{{ url_for('static', filename='img/faq.png') }}" alt="Person repairing a phone"
                 class="faq-image"/>
        </div>
        <div class="faq-content">
            <h3 class="faq-title">FAQ</h3>
            <h3 class="faq-headline">Bringing Your Gadgets Back from the Brink.</h3>
            <p class="faq-subheadline">Questions? Check the section below.</p>
            <div class="accordion">
                <div class="accordion-item">
                    <h3 class="accordion-title">How Long Does a Typical Phone Repair Take?<span class="accordion-icon">+</span></h3>
                    <div class="accordion-content">
                        <p>
                            Repair times vary depending on the issue. Our technicians strive to complete repairs swiftly
                            while maintaining quality, typically within 1-2 days.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion-title">Do You Provide Warranty for Your Services?<span class="accordion-icon">+</span></h3>
                    <div class="accordion-content">
                        <p>
                            Yes, we offer a warranty on all our repair services. Contact us for more details about our
                            warranty coverage.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion-title">Is There a Fee for Diagnostics?<span class="accordion-icon">+</span></h3>
                    <div class="accordion-content">
                        <p>
                            No, diagnostics are complimentary at TechPro. Our technicians will assess your device and
                            provide a diagnosis free of charge.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion-title">Do You Repair All Phone Brands and Models?<span class="accordion-icon">+</span></h3>
                    <div class="accordion-content">
                        <p>
                            Yes, we specialize in repairing a wide range of phone brands and models, including the
                            latest
                            releases from Apple, Samsung, Google, and more.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion-title">What Payment Methods Do You Accept?<span class="accordion-icon">+</span></h3>
                    <div class="accordion-content">
                        <p>
                            We accept various payment methods, including cash, credit/debit cards, and digital payment
                            platforms for your convenience.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{{ url_for('static', filename='js/index-accordion.js') }}"></script>
