<section class="how-we-work-section">
    <div class="how-we-work-content">
        <h3 class="block-title">HOW WE WORK</h3>
        <h2>3 Steps to Get You Connected</h2>
        <p>All you need to do is to trust tech pros.</p>
        <div class="steps">
            <div class="step">
                <h3>Step 1.</h3>
                <p>Reach out to ConnectX via phone, email, or our website to set up an appointment. Our team will assist you in selecting the best plan for your needs.</p>
            </div>
            <div class="step">
                <h3>Step 2.</h3>
                <p>Our technician will visit your location to set up the necessary equipment and ensure that your connection is strong and reliable.</p>
            </div>
            <div class="step">
                <h3>Step 3.</h3>
                <p>Once the setup is complete, we'll conduct a thorough test to confirm your connection is working perfectly. You'll then be ready to enjoy high-speed internet.</p>
            </div>
        </div>
    </div>
    <div class="how-we-work-image">
        <img src="{{ url_for('static', filename='img/main-page/service-icons/how-we-work.png') }}" alt="How we work Image">
    </div>
</section>
