<div id="news-block" class="news-block">
    <div class="carousel container">
        <button class="carousel-button carousel-button--left">&lt;</button>
        <div class="carousel-track-container">
            <div class="carousel-track">
                <div class="carousel-item news-card">
                    <p class="date">02 FEBRUARY 2024 | NEWS</p>
                    <h2>Water Damage: What to Do When Your Phone Takes a Dip</h2>
                    <p>Has your phone suffered a watery mishap? Learn the essential steps to take when dealing with
                        water damage.</p>
                    <a href="#">Read More</a>
                </div>
                <div class="carousel-item news-card">
                    <p class="date">22 FEBRUARY 2024 | NEWS</p>
                    <h2>Cracked Screen Chronicles: The Importance of Timely Repairs</h2>
                    <p>Ignoring that cracked screen? Think again. Explore the risks of delaying screen repairs and the
                        potential consequences for your device.</p>
                    <a href="#">Read More</a>
                </div>
                <div class="carousel-item news-card">
                    <p class="date">03 MARCH 2024 | NEWS</p>
                    <h2>Navigating Software Snags & Troubleshooting Phone Issues</h2>
                    <p>Unravel the mysteries of common phone software issues and discover effective troubleshooting
                        techniques.</p>
                    <a href="#">Read More</a>
                </div>
                <div class="carousel-item news-card">
                    <p class="date">12 JANUARY 2024 | NEWS</p>
                    <h2>Our Guide to Prolonging Your Phone's Battery Life</h2>
                    <p>Tired of constantly charging your phone? Discover tips and tricks to extend your device's battery
                        life and maximize its performance.</p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
        <button class="carousel-button carousel-button--right">&gt;</button>
    </div>
    <script src="{{ url_for('static', filename='js/news-carousel.js') }}"></script>
</div>