<div class="news-carousel-wrapper">
    <div id="news-block" class="news-carousel-block">
        <div class="news-carousel-container">
            <div class="news-carousel-track">
                <div class="news-carousel-item news-card">
                    <p class="news-date">02 FEBRUARY 2024 | NEWS</p>
                    <h2>Boost Your Home Internet Speed with Our New Router Upgrade</h2>
                    <p>Is your internet connection feeling sluggish? Discover how our latest router upgrade can enhance your
                        home network's speed and reliability.</p>
                    <a href="#">Read More</a>
                </div>
                <div class="news-carousel-item news-card">
                    <p class="news-date">22 FEBRUARY 2024 | NEWS</p>
                    <h2>Boost Your Wi-Fi Speed with Our Latest Router Upgrade</h2>
                    <p>Discover the benefits of our latest router upgrade, designed to enhance your Wi-Fi speed and coverage
                        for a seamless online experience.</p>
                    <a href="#">Read More</a>
                </div>
                <div class="news-carousel-item news-card">
                    <p class="news-date">03 MARCH 2024 | NEWS</p>
                    <h2>Exciting Changes to Our Internet Plans</h2>
                    <p>We’ve revamped our internet plans to offer you more value and flexibility! Explore our new pricing
                        and packages to find the perfect fit for your browsing needs.</p>
                    <a href="#">Read More</a>
                </div>
                <div class="news-carousel-item news-card">
                    <p class="news-date">12 JANUARY 2024 | NEWS</p>
                    <h2>Scheduled Maintenance Notification</h2>
                    <p>Please be advised that we will be conducting scheduled maintenance on our network infrastructure.
                        Temporary interruptions may occur between 2 AM and 4 AM.</p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
        <div id="news-carousel-button-left" class="news-carousel-button news-carousel-button--left">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1014830/prev.png" alt="Previous">
        </div>
        <div id="news-carousel-button-right" class="news-carousel-button news-carousel-button--right">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1014830/next.png" alt="Next">
        </div>
    </div>
</div>
