<div id="service-block" class="service-section">
      <p>SERVICES</p>
      <h2>We Connect You to the World, That's It.</h2>
      <strong>Learn more about our services.</strong>
      <div class="services-container">
            <div class="service-item">
                  <img src="{{ url_for('static', filename='img/service-icons/calling-the-master.png') }}" alt="Calling the master">
                  <h3>Calling the master</h3>
                  <p>Visit of a master for setup and service</p>
                  <a href="#" class="btn">Learn the Price</a>
            </div>
            <div class="service-item">
                  <img src="{{ url_for('static', filename='img/service-icons/setting-up-the-router.png') }}" alt="Setting up the router">
                  <h3>Setting up the router</h3>
                  <p>Connect and configure the equipment.</p>
                  <a href="#" class="btn">Learn the Price</a>
            </div>
            <div class="service-item">
                  <img src="{{ url_for('static', filename='img/service-icons/laying-an-utp-cable.png') }}" alt="Laying an UTP cable">
                  <h3>Laying an UTP cable</h3>
                  <p>Installation of 8-core UTP cable in an apartment and house</p>
                  <a href="#" class="btn">Learn the Price</a>
            </div>
            <div class="service-item">
                  <img src="{{ url_for('static', filename='img/service-icons/network-diagnostics.png') }}" alt="Network diagnostics">
                  <h3>Network diagnostics</h3>
                  <p>Diagnose and configure the network.</p>
                  <a href="#" class="btn">Learn the Price</a>
            </div>
            <div class="service-item">
                  <img src="{{ url_for('static', filename='img/service-icons/changing-the-static-ip-addresses.png') }}" alt="Changing the static IP addresses">
                  <h3>Changing the static IP addresses</h3>
                  <p>Instantly change the static IP at your request.</p>
                  <a href="#" class="btn">Learn the Price.</a>
            </div>
      </div>
</div>