<div id="service-block" class="service-section">
    <h3 class="center-block-title">SERVICES</h3>
    <h2>We Connect You to the World, That's It.</h2>
    <strong>Learn more about our services.</strong>
    <div id="carousel-container" class="limited-width">
        <ul id="carousel" class="animate">
            <li class="slide service-item">
                <img src="{{ url_for('static', filename='img/main-page/service-icons/calling-the-master.png') }}" alt="Calling the master">
                <h3>Calling the master</h3>
                <p>Visit of a master for setup and service</p>
                <a href="#" class="btn">Learn the Price</a>
            </li>
            <li class="slide service-item">
                <img src="{{ url_for('static', filename='img/main-page/service-icons/setting-up-the-router.png') }}" alt="Setting up the router">
                <h3>Setting up the router</h3>
                <p>Connect and configure the equipment.</p>
                <a href="#" class="btn">Learn the Price</a>
            </li>
            <li class="slide service-item">
                <img src="{{ url_for('static', filename='img/main-page/service-icons/laying-an-utp-cable.png') }}" alt="Laying an UTP cable">
                <h3>Laying an UTP cable</h3>
                <p>Installation of 8-core UTP cable in an apartment and house</p>
                <a href="#" class="btn">Learn the Price</a>
            </li>
            <li class="slide service-item">
                <img src="{{ url_for('static', filename='img/main-page/service-icons/network-diagnostics.png') }}" alt="Network diagnostics">
                <h3>Network diagnostics</h3>
                <p>Diagnose and configure the network.</p>
                <a href="#" class="btn">Learn the Price</a>
            </li>
            <li class="slide service-item">
                <img src="{{ url_for('static', filename='img/main-page/service-icons/changing-the-static-ip-addresses.png') }}" alt="Changing the static IP addresses">
                <h3>Changing the static IP addresses</h3>
                <p>Instantly change the static IP at your request.</p>
                <a href="#" class="btn">Learn the Price</a>
            </li>
        </ul>
    </div>
    <div id="controls">
        <span id="prev"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1014830/prev.png" alt="Previous"></span>
        <span id="next"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1014830/next.png" alt="Next"></span>
    </div>
    <script src="{{ url_for('static', filename='js/service-carousel.js') }}"></script>
</div>
