<div class="background-container"></div>
<section class="welcome-container">
    <div class="container content">
        <div class="sub-welcome-container">
            <div class="welcome-top">
                <p class="block-title">WELCOME to ConnectX</p>
                <h2 class="welcome-title">Stay Connected, Stay Ahead.</h2>
                <p class="welcome-text">Trust ConnectX – Your Gateway to the World!</p>
                <p class="welcome-text">Don't let slow internet hold you back. At ConnectX, we provide fast and reliable
                    internet services, ensuring you are always connected. Experience seamless streaming, browsing, and
                    gaming
                    with our top-tier solutions.</p>
                <div class="welcome-links">
                    <a href="#">WARRANTY POLICY</a>
                    <a href="#">SERVICE TERMS</a>
                    <a href="#">SUPPORT</a>
                </div>
            </div>
            <div class="video">
                <img src="{{ url_for('static', filename='img/main-page/connect-icons/phone.png') }}" alt="Phone"
                     class="welcome-img">
            </div>
            <div class="stats-container">
                <div class="stats">
                    <p class="stats-number">500k <strong class="services-link">+</strong></p>
                    <p class="stats-text">Clients in NY.</p>
                </div>
                <img src="{{ url_for('static', filename='img/about-us-page/team/james.png') }}" alt="Expert"
                     class="expert-img">
                <p class="welcome-text">Our experts are ready to assist you with any internet-related issues for free.
                    <a href="{{ url_for('contact.index') }}" class="services-link">Contact us.</a></p>
                <p class="welcome-text">Get the best internet services<a href="{{ url_for('main.index', filename='main-page/services.html', _anchor='service-block') }}" class="services-link"> here</a></p>
            </div>
        </div>
    </div>
</section>