@import url('variables.css');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: var(--light-black-background);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--white-background-and-text);
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.block-title {
    color: var(--orange);
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: left;
}

.center-block-title {
    color: var(--orange);
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
}

.header {
    padding: 20px;
    background-image: url("../img/header-background.jpg");
    color: var(--static-white);
    background-size: 1700px;
    background-clip: padding-box;
    background-position-x: 40%;
}

.header-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--static-grey);
}

.header-contacts a,
.header-socials a {
    color: var(--static-white);
    text-decoration: none;
    margin: 5px;
}

.header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.logo-text {
    text-decoration: none;
    color: var(--static-white);
    font-size: 3.2em;
}

.header-logo img {
    height: 80px;
    width: 110px;
}

.header-links {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-links li {
    margin: 10px 0;
}

.header-links a {
    color: var(--static-white);
    text-decoration: none;
    font-size: 16px;
}

.header-links a:hover,
.header-links a:focus {
    color: var(--orange);
}

.quote-button {
    background-color: var(--orange);
    color: var(--static-white);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
}

.quote-button:hover,
.quote-button:focus {
    background-color: var(--button-hover);
}

.burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 20px 0;
}

.burger-menu span {
    height: 3px;
    width: 25px;
    background: var(--grey-white-background-and-text);
    margin: 4px;
    border-radius: 5px;
}

.header-links.active {
    max-height: 500px;
    padding: 10px 0;
}

.day-night-toggle {
    position: relative;
    width: 160px;
    height: 50px;
}

#toggle {
    display: none;
}

.toggle-label {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: var(--white-background-and-text);
    cursor: pointer;
    position: relative;
    border: 1px solid var(--main-grey-background-and-shadow);
    overflow: hidden;
}

.toggle-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    transition: background-color 0.3s ease;
}

.slider-thumb {
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: var(--white-background-and-text);
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-text {
    font-size: 14px;
    color: var(--dark-text);
    position: absolute;
    right: 10px;
}

#toggle-icon {
    width: 24px;
    height: 24px;
}

#toggle:checked + .toggle-label .toggle-slider {
    background: var(--style-button-grey);
}

#toggle:checked + .toggle-label .toggle-slider .slider-thumb {
    transform: translateX(90px);
    background: var(--style-button-grey);
}

#toggle:checked + .toggle-label .toggle-slider .slider-thumb img {
    filter: invert(1);
}

@media (min-width: 1160px) {
    .header-top {
        flex-direction: row;
        justify-content: space-between;
    }

    .header nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .header-logo {
        flex-direction: row;
    }

    .burger-menu {
        display: none;
    }

    .header-links {
        max-height: none;
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .header-links li {
        margin: 0 20px;
    }
}

.pre-footer {
    background-color: var(--dark-background-and-titles);
    color: var(--grey-white-background-and-text);
    display: flex;
    padding: 20px;
}

.pre-footer-container {
    display: flex;
    flex-direction: column;
}

.pre-footer-content {
    padding: 20px;
    margin-bottom: 20px;
}

.pre-footer-content h2 {
    padding: 10px;
    margin-bottom: 10px;
}

.pre-footer-content p {
    padding: 10px;
    margin-bottom: 10px;
}

.pre-footer-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.pre-footer-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.pre-footer-icon img {
    width: 50px;
    margin-bottom: 10px;
}

.quote-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.quote-form form {
    background-color: var(--dark-background-and-titles);
    gap: 20px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.quote-form input, .quote-form textarea {
    background-color: var(--light-black-background);
    border: 1px solid var(--main-grey-background-and-shadow);
    padding: 10px;
    margin-bottom: 10px;
    color: var(--grey-white-background-and-text);
    border-radius: 5px;
    resize: vertical;
}

.quote-form input::placeholder, .quote-form textarea::placeholder {
    color: var(--dark-white-text-and-borders);
}

.request-quote-button {
    background-color: var(--orange);
    color: var(--white-background-and-text);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

.request-quote-button:hover {
    background-color: var(--button-hover);
}

@media (min-width: 1090px) {
    .pre-footer-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .pre-footer-content {
        max-width: 50%;
        margin-bottom: 0;
    }

    .pre-footer-details {
        flex-direction: row;
        justify-content: space-between;
    }

    .pre-footer-icon {
        flex-direction: row;
    }

    .quote-form {
        width: auto;
    }
}

.footer {
    background-color: var(--light-black-background);
    color: var(--grey-white-background-and-text);
    padding: 40px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.footer-logo img {
    width: 100px;
    margin-bottom: 10px;
}

.footer-logo-text {
    text-decoration: none;
    color: var(--grey-white-background-and-text);
    font-size: 2.5em;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-socials img {
    width: 24px;
    height: 24px;
}

.link-title {
    font-size: 16px;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--link-hover);
    display: inline-block;
    padding-bottom: 5px;
}

.link-title h3 {
    color: var(--orange);
}

.footer-links {
    list-style: none;
    padding: 0;
    text-align: center;
}

.footer-links li {
    margin: 10px 0;
}

.footer-links a {
    color: var(--grey-white-background-and-text);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: var(--link-hover);
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    border-top: 1px solid var(--main-grey-background-and-shadow);
    padding-top: 20px;
}

@media (min-width: 1090px) {
    .footer-container {
        flex-direction: row;
    }

    .footer-links {
        text-align: left;
    }
}
