.how-we-work-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #222;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.how-we-work-content {
    max-width: 100%;
    text-align: left;
}

.how-we-work-content span {
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 20px;
    color: orangered;
    display: block;
    margin-top: 20px;
}

.how-we-work-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.how-we-work-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.steps {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.step h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: orangered;
    flex-shrink: 0;
    padding-left: 10px;
}

.step p {
    font-size: 1em;
    margin: 0;
    margin-left: 10px;
    color: white;
}

.how-we-work-image {
    max-width: 100%;
    margin-top: 20px;
}

.how-we-work-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@media(min-width: 768px) {
    .how-we-work-section {
        flex-direction: row;
        justify-content: space-between;
    }

    .how-we-work-content {
        max-width: 50%;
    }

    .how-we-work-image {
        max-width: 45%;
    }

    .how-we-work-image img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .steps {
        gap: 20px;
    }

    .step {
        flex-direction: column;
        align-items: flex-start;
    }

    .step h3 {
        padding-left: 0;
        margin-top: 0;
    }

    .step p {
        margin-left: 0;
    }
}
