.custom-header {
    background-color: var(--sub-header);
    text-align: center;
    padding: 50px 20px;
}

.custom-header-content {
    max-width: 1200px;
    margin: 0 auto;
}

.custom-header-title {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: var(--white-background-and-text);
}

.breadcrumb {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: var(--dark-white-text-and-borders);
}

.breadcrumb-link {
    color: var(--dark-white-text-and-borders);
    text-decoration: none;
}

.breadcrumb-link:hover {
    color: var(--white-background-and-text);
}

.breadcrumb-separator {
    margin: 0 10px;
}

.breadcrumb-current {
    font-weight: bold;
    color: var(--orange);
}

@media (min-width: 768px) {
    .custom-header-title {
        font-size: 3em;
    }

    .breadcrumb {
        font-size: 1.25em;
    }
}
