<main class="about-us-block-content">
    <section class="about-us-block-container">
        <div class="about-us-left">
            <h3 class="block-title">ABOUT US</h3>
            <h3 class="about-us-heading">Connecting You to the World</h3>
            <p class="about-us-tagline">Trust ConnectX – Where Connectivity Meets Excellence!</p>
            <p class="about-us-description">
                At ConnectX, we are dedicated to being your go-to destination for all things related to internet services in New York.
                With years of expertise under our belt, our team of skilled technicians excels in diagnosing and
                resolving a wide array of connectivity issues,
                ensuring you stay connected to what matters most.
            </p>
            <img src="{{ url_for('static', filename='img/about-us-page/servers.png') }}" alt="Repair Shop"
                 class="about-us-image">
            <p class="about-us-description">
                We understand the frustration that comes with unreliable internet connections, which is why we strive to provide
                swift and reliable solutions that get you back online and enjoying seamless connectivity in no time.
            </p>
        </div>
        <div class="about-us-right">
            <img src="{{ url_for('static', filename='img/about-us-page/network.png') }}" alt="Technician"
                 class="about-us-image">
            <p class="about-us-description">
                We’re not just another internet service provider – we’re your trusted partners in keeping your internet running smoothly.
                With over 25 years of experience serving the New York community, our mission is simple: to provide top-quality internet
                services and exceptional customer support.
            </p>
            <p class="about-us-description">
                Our team of more than 300 dedicated technicians brings a wealth of expertise to every service job, ensuring that your internet is in capable hands.
                From installation to troubleshooting, network upgrades to diagnostics, we’ve seen it all and fixed it all.
            </p>
        </div>
    </section>
</main>