<div class="mission-vision">
    <img src="{{ url_for('static', filename='img/about-us-page/mission-&-vision.png') }}" alt="TechPro Expert Repairing Device" class="mission-vision-image"/>

    <div class="mission-vision-content">
        <h3 class="block-title">MISSION & VISION</h3>
        <h3 class="mission-vision-headline">ConnectX Experts Are At Your Service.</h3>
        <p class="mission-vision-subheadline">
            We connect you to the world; that's what we do.
        </p>
        <p class="mission-vision-description">
            <strong>Mission:</strong> At ConnectX, our mission is to be the premier internet service provider, 
            delivering exceptional quality and customer satisfaction. We strive to exceed expectations with every service, 
            ensuring that our clients enjoy reliable and high-speed internet connectivity swiftly and seamlessly.
        </p>
        <p class="mission-vision-description">
            <strong>Vision:</strong> Our vision at ConnectX is to revolutionize the internet service industry
             by setting the standard for excellence and innovation. We aim to be the trusted partner for individuals and businesses alike,
              providing reliable solutions and personalized service that exceed expectations.
        </p>
        <a href="{{ url_for('main.index', filename='main-page/services.html', _anchor='service-block') }}" class="mission-vision-button">Services</a>
    </div>
</div>