<div class="mission-vision">
    <img src="{{ url_for('static', filename='img/mission-&-vision.png') }}" alt="TechPro Expert Repairing Device" class="mission-vision-image"/>

    <div class="mission-vision-content">
        <h3 class="mission-vision-title">MISSION & VISION</h3>
        <h3 class="mission-vision-headline">TechPro Experts Are At Your Service.</h3>
        <p class="mission-vision-subheadline">
            We fix your devices; that's what we do.
        </p>
        <p class="mission-vision-description">
            <strong>Mission:</strong> At TechPro, our mission is to be the premier mobile repair service in New York,
            delivering exceptional quality and customer satisfaction. We strive to exceed expectations with every
            repair, ensuring that our clients' devices are restored to optimal functionality swiftly and seamlessly.
        </p>
        <p class="mission-vision-description">
            <strong>Vision:</strong> Our vision at TechPro is to revolutionize the mobile repair industry by setting the
            standard for excellence and innovation. We aim to be the trusted partner for individuals and businesses
            alike, providing reliable solutions and personalized service that exceed expectations.
        </p>
        <a href="#" class="mission-vision-button">Services</a>
    </div>
</div>