<main class="process-content">
    <section class="process">
        <h3 class="center-block-title">PROCESS</h3>
        <h3 class="process-heading">Connect, Upgrade, Experience.</h3>
        <p class="process-tagline">All you need to do is to trust our experts.</p>
        <div class="process-steps">
            <div class="process-step">
                <h3 class="process-step-number">01.</h3>
                <h4 class="process-step-title">Contact Us</h4>
                <p class="process-step-description">
                    Reach out to ConnectX via phone, email, or our website to set up an appointment. Our team will assist you in selecting the best plan for your needs.
                </p>
            </div>
            <div class="process-step">
                <h3 class="process-step-number">02.</h3>
                <h4 class="process-step-title">Site Evaluation</h4>
                <p class="process-step-description">
                    Our technician will visit your location to assess the current setup and determine the best approach for your new internet service installation.
                </p>
            </div>
            <div class="process-step">
                <h3 class="process-step-number">03.</h3>
                <h4 class="process-step-title">Installation and Setup</h4>
                <p class="process-step-description">
                    Once the evaluation is complete, we'll proceed with the installation and setup of your internet service, ensuring everything is configured for optimal performance.
                </p>
            </div>
        </div>
    </section>
</main>