.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--light-black);
}

.faq-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-image-container {
    width: 100%;
}

.faq-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: flex;
}

.faq-content {
    text-align: left;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 0 15px;
}

.faq-headline {
    color: var(--grey-white);
    font-size: 2em;
    margin-bottom: 10px;
}

.faq-subheadline {
    color: var(--grey-white);
    font-weight: bold;
    margin-bottom: 20px;
}

.accordion {
    border-top: 1px solid var(--light-white);
}

.accordion-item {
    border-bottom: 1px solid var(--light-white);
}

.accordion-title {
    padding: 15px;
    cursor: pointer;
    background-color: var(--light-black);
    color: var(--grey-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.accordion-icon {
    font-size: 1.5em;
    transition: transform 0.3s;
}

.accordion-title.active .accordion-icon {
    transform: rotate(45deg);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    padding: 0 10px;
    background-color: var(--light-black);
    color: var(--light-white);
}

.accordion-content p {
    margin: 10px 0;
}

@media (min-width: 768px) {
    .faq {
        text-align: left;
    }

    .faq-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .faq-content {
        width: 50%;
        padding-left: 40px;
        padding-right: 40px;
    }

    .faq-image-container {
        width: 50%;
    }

    .faq-image {
        border-radius: 0;
    }
}
