.faq {
    background-color: var(--background-light-color);
    width: 100%;
    padding: 0;
    margin: 0;
}

.faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 2100px;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

.faq-image-container {
    width: 100%;
    max-width: 100%;
}

.faq-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: auto;
    min-height: 600px;
}

.faq-content {
    text-align: left;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
}

.faq-headline {
    color: var(--background-light-grey-color);
    font-size: 2em;
    margin-bottom: 10px;
}

.faq-subheadline {
    color: var(--background-light-grey-color);
    font-weight: bold;
    margin-bottom: 20px;
}

.accordion {
    border-top: 1px solid var(--text-dark-subtle-color);
}

.accordion-item {
    border-bottom: 1px solid var(--text-dark-subtle-color);
}

.accordion-title {
    padding: 15px;
    cursor: pointer;
    background-color: var(--background-light-color);
    color: var(--background-light-grey-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.accordion-icon {
    font-size: 1.5em;
    transition: transform 0.3s;
}

.accordion-title.active .accordion-icon {
    transform: rotate(45deg);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    background-color: var(--background-light-color);
    color: var(--text-dark-subtle-color);
}

.accordion-content-open {
    padding: 10px;
}

.accordion-content-closed {
    padding: 0 10px;
}

.accordion-content p {
    margin: 10px 0;
}

@media (max-width: 768px) {
    .faq-image {
        min-height: 0;
    }
}

@media (min-width: 768px) {
    .faq-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .faq-content {
        width: 50%;
        padding-left: 40px;
        padding-right: 40px;
    }

    .faq-image-container {
        width: 50%;
    }

    .faq-image {
        border-radius: 0;
    }
}
