.how-we-work-section {
    background-color: var(--background-dark-color);
    color: var(--background-light-grey-color);
    padding: 0;
    margin: 0;
}

.how-we-work-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 2000px;
    margin: auto;
}

.how-we-work-content {
    text-align: left;
    width: 90%;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
}

.how-we-work-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.how-we-work-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.steps {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.step h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.step p {
    font-size: 1em;
    margin: 0;
    color: var(--background-light-grey-color);
}

.how-we-work-image {
    width: 100%;
    max-width: 700px;
    margin: 20px auto 0 auto;
}

.how-we-work-image img {
    width: 100%;
    height: auto;
    max-height: 700px;
    min-height: 550px;
}

@media (max-width: 768px) {
    .how-we-work-image img {
        min-height: 0;
    }
}

@media (min-width: 768px) {
    .how-we-work-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .how-we-work-content {
        width: 50%;
        padding-right: 20px;
    }

    .how-we-work-image {
        width: 45%;
        margin-top: 0;
    }

    .steps {
        gap: 20px;
    }

    .step h3 {
        margin-top: 0;
    }
}
