.news-carousel-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    margin: 0;
    background-color: var(--orange);
    color: var(--static-white);
}

.news-carousel-container {
    position: relative;
    width: 80%;
    overflow: hidden;
}

.news-carousel-track-container {
    overflow: hidden;
}

.news-carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.news-carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.news-card {
    background-color: var(--orange);
    padding: 20px;
    border: 1px solid var(--static-white);
    border-radius: 5px;
    text-align: center;
    max-height: 260px;
}

.news-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.news-card p {
    font-size: 1em;
    margin-bottom: 20px;
}

.news-card a {
    color: var(--static-white);
    font-weight: bold;
}

.news-date {
    font-size: 0.8em;
    margin-bottom: 10px;
}

.news-carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--orange);
    border: none;
    color: var(--static-white);
    font-size: 2em;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    z-index: 1;
}

.news-carousel-button--left {
    left: 10px;
}

.news-carousel-button--right {
    right: 10px;
}
