#testimonial-block {
    text-align: center;
    margin: 40px auto;
    font-family: 'Poppins', sans-serif;
    padding: 0 30px;
    position: relative;
}

#testimonial-block h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--text-color);
}

.carousel-wrapper {
    position: relative;
    max-width: 1300px;
    margin: auto;
}

#testimonial-carousel-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    background-color: var(--item-background-color);
}

#testimonial-carousel {
    display: flex;
    transition: transform 0.5s;
}

.slide {
    display: flex;
    list-style: none;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.testimonial-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--item-background-color);
    color: var(--text-color);
    text-align: left;
    padding: 30px;
    box-shadow: 0 4px 8px var(--box-shadow-color);
    border-radius: 10px;
}

.testimonial-item .slide-text, .testimonial-item .slide-image {
    width: 50%;
    padding: 0 15px;
}

.testimonial-item img {
    width: 100%;
    height: auto;
    margin-left: 20px;
}

.testimonial-item blockquote {
    margin: 0;
    font-style: italic;
    font-size: 1.1em;
    color: var(--subtle-text-color);
}

.testimonial-item cite {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    text-align: right;
    color: var(--subtle-text-color);
}

#testimonial-controls {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
}

#testimonial-controls span {
    cursor: pointer;
    pointer-events: all;
    opacity: 0.7;
    transition: opacity 0.3s;
    width: 50px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 0;
}

#testimonial-prev {
    left: -15px;
}

#testimonial-next {
    right: -15px;
}

#testimonial-prev:hover,
#testimonial-next:hover {
    opacity: 1;
}

#testimonial-controls span img {
    width: 100%;
}

.testimonial-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--text-color);
}

.contact-us-section {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 10px;
}

.call-us {
    color: var(--highlight-color);
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
}

.contact-us {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--text-color);
    margin: 10px 0;
}

.schedule-repair {
    color: var(--text-color);
    font-size: 1.2em;
    margin: 10px 0;
}

.schedule-repair a {
    color: var(--highlight-color);
    text-decoration: none;
    font-weight: bold;
}

.schedule-repair a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .slide {
        width: 100%;
    }

    .testimonial-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .testimonial-item .slide-text, .testimonial-item .slide-image {
        width: 100%;
    }

    .testimonial-item img {
        width: 100%;
        margin: 20px 0 0 0;
    }
}

.dark-theme #testimonial-prev,
.dark-theme #testimonial-next {
    filter: invert(100%);
}
