.content {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.content.visible {
    opacity: 1;
    transform: translateY(0);
}

.welcome-container {
    background-image: url("../../img/header-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--neutral-white-color);
    padding: 50px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.sub-welcome-container {
    display: flex;
}

.welcome-top {
    text-align: left;
}

.welcome-title {
    font-size: 3em;
    margin: 0.5em 0;
    position: relative;
    transition: top 0.5s ease, font-size 0.5s ease;
}

.welcome-text {
    font-size: 1.1em;
    margin: 0.5em 0;
}

.welcome-img {
    width: 200px;
    max-width: 300px;
}

.welcome-links {
    display: flex;
    gap: 10px;
    margin-bottom: 1em;
}

.welcome-links a {
    color: var(--neutral-white-color);
    text-decoration: none;
    font-size: 0.9em;
}

.stats-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: left;
}

.stats {
    padding-bottom: 30px;
}

.stats-number {
    font-size: 3.5em;
    color: var(--neutral-white-color);
    padding: 0;
    margin: 0;
}

.stats-text {
    font-size: 1em;
}

.expert-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding-top: 10px;
    margin-right: 10px;
}

.services-link {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1em;
}

.video {
    display: flex;
    align-items: center;
    margin: 20px;
}

.video-link {
    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.video-icon {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .sub-welcome-container {
        flex-direction: column;
    }

    .welcome-title {
        font-size: 2em;
    }

    .welcome-subtitle, .welcome-text {
        font-size: 1.5em;
    }

    .welcome-img {
        max-width: 300px;
    }
}
