.custom-terms {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.custom-main-content {
    margin-top: 70px;
}

.custom-terms-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.terms-left, .terms-right {
    width: 100%;
    text-align: left;
}

.terms-left p, li .terms-right p, li {
    color: var(--contact-text-grey);
    font-size: 1.5em;
}

.terms-heading {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.terms-tagline {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.terms-container {
    list-style-type: none;
    padding: 0;
}

.terms-container li {
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.terms-container li strong {
    color: var(--light-white);
    font-weight: bold;
}

.orange-point {
    color: var(--orange);
}

.orange-text {
    color: var(--orange);
    font-size: 1.75rem;
    margin-bottom: 10px;
    text-decoration-line: underline;
}

.closing-text {
    color: var(--contact-text-grey);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-top: 30px;
    text-align: left;
}

@media (max-width: 768px) {
    .custom-terms-container {
        flex-direction: column;
        justify-content: center;
    }
}
