.custom-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.custom-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0;
}

.custom-header-title {
    font-size: 2.5rem;
    color: var(--orange);
    margin-bottom: 10px;
}

.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.breadcrumb-link {
    color: var(--main-grey);
    text-decoration: none;
}

.breadcrumb-separator {
    margin: 0 5px;
    color: var(--main-grey);
}

.breadcrumb-current {
    color: var(--light-grey);
}

.custom-main-content {
    padding: 20px 0;
}

.custom-flex-container {
    display: flex;
}

.custom-terms h2 {
    font-size: 2.5rem;
    color: var(--orange);
    margin-bottom: 20px;
    text-align: center;
}

.custom-terms .intro-text,
.custom-terms .closing-text {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
}

.custom-terms-content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.custom-column {
    flex: 1;
    min-width: 300px;
}

.orange-text {
    color: var(--orange);
    font-size: 1.75rem;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1rem;
    margin-bottom: 10px;
}

ul li strong {
    color: var(--main-grey);
    font-weight: bold;
}

@media (max-width: 768px) {
    .custom-terms-content {
        flex-direction: column;
        align-items: center;
    }

    .custom-column {
        min-width: 100%;
    }
}

