.custom-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.custom-terms h2 {
    color: var(--main-grey);
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.custom-terms .intro-text,
.custom-terms .closing-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
}

.custom-terms-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.custom-column {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
}

.orange-text {
    color: var(--orange);
}

.custom-service-terms h3,
.custom-warranty-policy h3,
.custom-customer-satisfaction h3 {
    color: var(--orange);
    font-size: 24px;
    margin-bottom: 10px;
}

ul.custom-list {
    list-style-type: disc;
    padding-left: 20px;
}

ul.custom-list li {
    margin-bottom: 10px;
    font-size: 16px;
}

ul.custom-list li strong {
    color: var(--main-grey);
}

p {
    font-size: 16px;
    line-height: 1.5;
}
