{% extends 'base.html' %}

{% block content %}
  <h1>News</h1>

  <div>
    <h2>Chapter 1</h2>
    <p>
      Опис першої новини.
      <nav>
        <a href="https://ces.org.ua/ukraine-economic-recovery-tracker/?gad_source=1&gclid=EAIaIQobChMIlcfozp6OhwMVfKWDBx3QuAaeEAAYASAAEgJs3PD_BwE">Know more</a>
      </nav>
    </p>
    <br />
  </div>

  <div>
    <h2>Chapter 2</h2>
    <p>
      Опис другої новини.
      <nav>
        <a href="https://ces.org.ua/ukraine-economic-recovery-tracker/?gad_source=1&gclid=EAIaIQobChMIlcfozp6OhwMVfKWDBx3QuAaeEAAYASAAEgJs3PD_BwE">Know more</a>
      </nav>
    </p>
    <br />
  </div>

  <div>
    <h2>Chapter 3</h2>
    <p>
      Опис третьої новини.
      <nav>
        <a href="https://ces.org.ua/ukraine-economic-recovery-tracker/?gad_source=1&gclid=EAIaIQobChMIlcfozp6OhwMVfKWDBx3QuAaeEAAYASAAEgJs3PD_BwE">Know more</a>
      </nav>
    </p>
    <br />
  </div>

  <div class="slider-container">
    <div class="slides">
      <input type="radio" name="slider" id="slide1" checked>
      <input type="radio" name="slider" id="slide2">
      <input type="radio" name="slider" id="slide3">
      
      <div class="slide" id="slide1">
        <section>Slide 1</section>
      </div>
      <div class="slide" id="slide2">
        <section>Slide 2</section>
      </div>
      <div class="slide" id="slide3">
        <section>Slide 3</section>
      </div>
    </div>

   
    <label for="slide1" class="prev">&#10094;</label>
    <label for="slide2" class="next">&#10095;</label>
  </div>
{% endblock %}