@import url('../global.css');
@import url('../sub-header.css');

.auth-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 50px;
    background-color: var(--item-background-color);
    border-radius: 10px;
    color: var(--text-color);
    text-align: center;
    box-shadow: 0 4px 6px var(--box-shadow-color);
}

.auth-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--highlight-color);
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-textbox {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.auth-btn {
    padding: 10px;
    background-color: var(--highlight-color);
    border: none;
    border-radius: 5px;
    color: var(--white-background-and-text);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-btn:hover {
    background-color: var(--button-hover);
}

.auth-bottom {
    margin-top: 10px;
    color: var(--subtle-text-color);
}

.auth-link {
    color: var(--highlight-color);
    text-decoration: none;
}

.auth-link:hover {
    text-decoration: underline;
}

.auth-msg {
    margin-bottom: 10px;
    color: var(--red);
}
