.superpower-description span:first-child {
    margin-right: 10px;
    font-size: 24px;
    vertical-align: middle;
}

.rates-button {
    background-color: var(--primary-color);
    border: none;
    color: var(--neutral-white-color);
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    align-self: center;
    width: 100%;
}

.rates-button:hover {
    background-color: var(--primary-color);
}

.rates-button a {
    color: var(--neutral-white-color);
    text-decoration: none;
}

.promo-section {
    color: var(--text-color);
    padding: 20px;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

.promo-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.promo-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 0 5px;
    margin: 0 auto;
}

.promo-item {
    flex: 1;
    max-width: 300px;
    margin: 10px;
    text-align: center;
}

.promo-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.promo-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.promo-item p {
    font-size: 1em;
    line-height: 1.5;
}

.rates-section {
    text-align: center;
    margin: 20px auto;
    font-family: 'Poppins', sans-serif;
    padding: 0 15px;
    position: relative;
}

.rates-section h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--text-color);
}

.rates-section strong {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--text-color);
}

.carousel-wrapper {
    position: relative;
    max-width: 1300px;
    margin: auto;
}

#rates-carousel-container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--item-background-color);
}

#rates-carousel {
    display: flex;
    transition: transform 0.5s;
}

.slide {
    list-style: none;
    padding: 15px;
    box-sizing: border-box;
}

.rates-item {
    display: flex;
    flex-direction: column;
    background-color: var(--background-dark-color);
    color: var(--background-light-grey-color);
    text-align: left;
    padding: 15px;
    border-radius: 10px;
}

.rates-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.rates-item h3 {
    margin-top: 10px;
    font-size: 1em;
    color: var(--text-color);
}

.rates-item p {
    margin: 5px 0;
    color: var(--subtle-text-color);
}

.rates-item .btn {
    display: inline-block;
    padding: 8px 12px;
    background-color: var(--primary-color);
    color: var(--neutral-white-color);
    text-decoration: none;
    border-radius: 5px;
    margin-top: auto;
    align-self: start;
    width: auto;
}

.rates-item .btn:hover {
    background-color: var(--button-hover-color);
}

#rates-controls {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
}

#rates-prev,
#rates-next {
    cursor: pointer;
    pointer-events: all;
    opacity: 0.7;
    transition: opacity 0.3s;
    width: 50px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 0;
}

#rates-prev {
    left: -15px;
}

#rates-next {
    right: -15px;
}

#rates-prev:hover,
#rates-next:hover {
    opacity: 1;
}

#rates-controls span img {
    width: 100%;
}

@media (max-width: 768px) {
    .slide {
        width: 100%;
    }
}

.dark-theme #rates-prev,
.dark-theme #rates-next {
    filter: invert(100%);
}
