{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contacts/contacts-page.css') }}">
{% endblock %}

{% block content %}
    <header class="custom-header">
        <div class="custom-header-content">
            <h3 class="custom-header-title">Contacts.</h3>
            <nav class="breadcrumb">
                <a href="{{ url_for('main.index') }}" class="breadcrumb-link">Home</a>
                <span class="breadcrumb-separator">→</span>
                <span class="breadcrumb-current">Contacts</span>
            </nav>
        </div>
    </header>

    <main class="custom-main-content">
        <section class="custom-terms">
            <div class="custom-terms-container">
                <div class="terms-left">
                    <h3 class="block-title">TERMS</h3>
                    <h3 class="terms-heading">Terms & Warranty</h3>
                    <p class="terms-tagline">
                        At ConnectX, we prioritize your satisfaction and stand behind the quality of our services. Here's what you need to know.
                    </p>
                    <h3 class="orange-text">Service Terms</h3>
                    <ul class="terms-container">
                        <li>
                            <strong><span class="orange-point">●</span> Free Installation Consultation:</strong> Every installation begins 
                            with a complimentary consultation to identify the best setup for your home or business.
                        </li>
                        <li>
                            <strong><span class="orange-point">●</span> Transparent Pricing:</strong> You'll receive a detailed
                             quote before any installation or service work begins, ensuring clarity and transparency.
                        </li>
                        <li>
                            <strong><span class="orange-point">●</span> Quality Equipment:</strong> We use only high-quality
                             equipment in our installations to ensure optimal performance and longevity.
                        </li>
                        <li>
                            <strong><span class="orange-point">●</span> Quick Setup:</strong> Installation times vary depending on the service.
                             Our technicians strive to complete installations swiftly, typically within 1-2 days.
                        </li>
                    </ul>
                </div>

                <div class="terms-right">
                    <h3 class="orange-text">Warranty Policy</h3>
                    <ul class="terms-container">
                        <li>
                            <strong><span class="orange-point">●</span> Quality Guarantee:</strong> We stand by the quality of our installations.
                             If you experience any issues related to the installed equipment,
                              simply contact us within 14 days for a complimentary reevaluation.
                        </li>
                        <li>
                            <strong><span class="orange-point">●</span> Equipment Warranty:</strong> Equipment used in our installations
                             is covered under a 3-month warranty against defects.
                        </li>
                        <li>
                            <strong><span class="orange-point">●</span> Exclusions:</strong> Our warranty does not cover damages resulting
                             from accidents, misuse, or unauthorized modifications.
                        </li>
                    </ul>
                    <div class="custom-customer-satisfaction">
                        <h3 class="orange-text">Customer Satisfaction</h3>
                        <ul class="terms-container">
                            <li>
                                <strong><span class="orange-point">●</span> Dedicated Support:</strong> Our friendly and knowledgeable staff
                                 are always available to address any questions or concerns you may have before, during, or after the installation process.
                            </li>
                            <li>
                                <strong><span class="orange-point">●</span> Feedback Welcome:</strong> We value your feedback and strive to continuously
                                 improve our services. Feel free to share your experience with us.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <p class="closing-text">
                If you have any questions, concerns, or need expert guidance, our dedicated team is just a message or call away.
                Feel free to reach out for any post-installation support, service-related inquiries, or simply to share your experience.
                We're committed to delivering not only exceptional installations but also unparalleled customer service.
                Your trust in ConnectX is valued, and we're here to make your internet service journey smooth and stress-free.
                Contact us today, and let us continue to exceed your expectations!
            </p>
        </section>


        <div style="filter: grayscale(1) invert(100%);">
            <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2564.319012218883!2d36.230901592155625!3d50.00537564586056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a0de121504b7%3A0x2c9c3e9d4805a7fd!2z0YPQuy4g0KHRg9C80YHQutCw0Y8sIDM5LCDQpdCw0YDRjNC60L7Qsiwg0KXQsNGA0YzQutC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjEwMDA!5e0!3m2!1sru!2sua!4v1721377732421!5m2!1sru!2sua"
                    width="100%"
                    height="900"
                    style="border: 0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
        </div>
    </main>
{% endblock %}
