{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contacts/contacts-page.css') }}">
{% endblock %}

{% block content %}
    <header class="custom-header">
        <div class="custom-header-content">
            <h3 class="custom-header-title">Contacts.</h3>
            <nav class="breadcrumb">
                <a href="{{ url_for('main.index') }}" class="breadcrumb-link">Home</a>
                <span class="breadcrumb-separator">→</span>
                <span class="breadcrumb-current">Contacts</span>
            </nav>
        </div>
    </header>

    <main class="custom-main-content">
        <section class="custom-terms">
            <div class="custom-terms-container">
                <div class="terms-left">
                    <h3 class="block-title">TERMS</h3>
                    <h3 class="terms-heading">Terms & Warranty</h3>
                    <p class="terms-tagline">At TechPro, we prioritize your satisfaction and stand behind the quality of
                        our repairs. Here's what you need to know.</p>
                    <h3 class="orange-text">Service Terms</h3>
                    <ul class="terms-container">
                        <li><strong><span class="orange-point">●</span> Free Diagnostics:</strong> Every repair begins
                            with a complimentary diagnostic
                            assessment to identify the issue accurately.
                        </li>
                        <li><strong><span class="orange-point">●</span> Transparent Pricing:</strong> You'll receive a
                            detailed quote before any repair work
                            begins, ensuring clarity and transparency.
                        </li>
                        <li><strong><span class="orange-point">●</span> Quality Parts:</strong> We use only high-quality
                            parts in our repairs to ensure
                            optimal performance and longevity.
                        </li>
                        <li><strong><span class="orange-point">●</span> Quick Repairs:</strong> Repair times vary
                            depending on the issue. Our technicians
                            strive to complete repairs swiftly, typically within 1-2 days.
                        </li>
                    </ul>
                </div>

                <div class="terms-right">
                    <h3 class="orange-text">Warranty Policy</h3>
                    <ul class="terms-container">
                        <li><strong><span class="orange-point">●</span> Quality Guarantee:</strong> We stand by the
                            quality of our repairs. If you
                            experience any issues related to the repaired component, simply bring your device back
                            within 14 days for a complimentary reevaluation.
                        </li>
                        <li><strong><span class="orange-point">●</span> Parts Warranty:</strong> Parts used in our
                            repairs are covered under a 3-month
                            warranty against defects.
                        </li>
                        <li><strong><span class="orange-point">●</span> Exclusions:</strong> Our warranty does not cover
                            damages resulting from accidents,
                            misuse, or unauthorized modifications.
                        </li>
                    </ul>
                    <div class="custom-customer-satisfaction">
                        <h3 class="orange-text">Customer Satisfaction</h3>
                        <ul class="terms-container">
                            <li><strong><span class="orange-point">●</span> Dedicated Support:</strong> Our friendly and
                                knowledgeable staff are always
                                available to address any questions or concerns you may have before, during, or after the
                                repair process.
                            </li>
                            <li><strong><span class="orange-point">●</span> Feedback Welcome:</strong> We value your
                                feedback and strive to continuously
                                improve our services. Feel free to share your experience with us.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <p class="closing-text">If you have any questions, concerns, or need expert guidance, our dedicated team is
                just a message or call away. Feel free to reach out for any post-repair support, device-related
                inquiries, or simply to share your experience. We're committed to delivering not only exceptional
                repairs but also unparalleled customer service. Your trust in TechPro is valued, and we're here to make
                your mobile repair journey smooth and stress-free. Contact us today, and let us continue to exceed your
                expectations!</p>
        </section>


        <div style="filter: grayscale(1) invert(100%);">
            <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2564.319012218883!2d36.230901592155625!3d50.00537564586056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a0de121504b7%3A0x2c9c3e9d4805a7fd!2z0YPQuy4g0KHRg9C80YHQutCw0Y8sIDM5LCDQpdCw0YDRjNC60L7Qsiwg0KXQsNGA0YzQutC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjEwMDA!5e0!3m2!1sru!2sua!4v1721377732421!5m2!1sru!2sua"
                    width="100%"
                    height="900"
                    style="border: 0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
        </div>
    </main>
{% endblock %}
